.avatar-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatar-wrapper::before {
  content: '';
  position: absolute;
  inset: -6px;
  border-radius: 50%;
  z-index: 0;
  opacity: 0;
}
